<style>@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
</style>* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.hero {
    background-image: url('../images/cow.jpg');
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 64% 66%, 65% 100%, 35% 100%, 34% 68%, 10% 50%);
}

.hero h1 {
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 10px;
    letter-spacing: 20px;
}

.article,
#cow-type {
    width: 80%;
    margin: 60px auto;
    background-color: rgb(126, 227, 227);
    background: linear-gradient(45deg, pink, rgb(0, 255, 145));
    padding: 60px;
}

.article h2,
#cow-type h2 {
    text-align: center;
    font-size: 48px;
    border-bottom: 5px yellow solid;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.article p {
    font-size: 28px;
    line-height: 2em;
}

.article p .imp {
    font-size: 2em;
    background-color: yellow;
}

.cow-images {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cow-images div {
    min-width: 300px;
}

.cow-images img {
    width: 100%;
}